In [9]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv('homeprices.csv')

In [5]:
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [18]:
data.bedrooms.fillna(round(data.bedrooms.mean()),inplace = True)

In [19]:
model = LinearRegression(fit_intercept =True)

In [20]:
X = data.drop('price', axis = 1)

In [21]:
y = data.price

In [22]:
model.fit(X,y)

LinearRegression()

In [31]:
def nice_function(a,b,c):
    guess = [str(a),str(b),str(c)]
    hp = model.predict([guess])
    hp = hp.round(2)
    hp = hp[0]
    print(f'House price predicted is ${hp}')

In [32]:
nice_function(4050,6,8)

House price predicted is $789655.43

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/sklearn/utils/validation.py:63: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  return f(*args, **kwargs)